/* Estilos gerais para o root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilos para o logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animação de rotação do logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos para as cartas (card) */
.card {
  padding: 2em;
}

/* Estilos para os links de documentação */
.read-the-docs {
  color: #888;
}

/* Estilo da tela inicial (Home) */
.home-container {
  text-align: center;
  padding: 20px;
}

.home-actions {
  margin-top: 20px;
}

.home-actions button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-actions button:hover {
  background-color: #45a049;
}

/* Estilos para o botão de logout */
.logout-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f44336; /* Vermelho para indicar ação de logout */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e53935; /* Tom de vermelho mais escuro quando passa o mouse */
}
